<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="./index.css" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>{{Title}}</title>
  </head>
  <body>
    <main>
      <h1>{{Title}}</h1>
      <div class="subtitle">
        <h2>Guess my number between 1 and 100!</h2>
        <h3>You've got 10 attempts!</h3>
      </div>
      <div class="guessLine">
        <input type="text" name="guessInput" id="guessInput">
        <button id="makeGuess">Make Guess</button>
      </div>
      <button id="restartGame">Restart Game</button>
      <div class="responseContainer">
      </div>
    </main>
    <script type="text/javascript" src="bundle.js"></script>
  </body>
</html>